# ------------------------------
# ✅ 공통 (General)
# ------------------------------
.DS_Store
Thumbs.db
*.log
logs/
*.swp
*.swo
*.swn
.env
.vscode/
.idea/

# ------------------------------
# ✅ 웹 (Web: Node.js, React, Vue, Next.js)
# ------------------------------
node_modules/
dist/
build/
.cache/
.nyc_output/
coverage/
public/
.next/
out/
.storybook/
*.lock

# ------------------------------
# ✅ 안드로이드 (Android)
# ------------------------------
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
*.iml
.idea/
local.properties
**/intermediates/
**/outputs/
**/generated/
captures/
output.json

# ------------------------------
# ✅ iOS (Xcode, Swift)
# ------------------------------
*.pbxuser
!default.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xcscmblueprint
*.xcworkspace
Pods/
DerivedData/
Carthage/
Carthage/Checkouts/
Carthage/Build/
.swiftpm/
Package.resolved
build/
*.app
*.ipa
*.dSYM.zip
*.dSYM